/* ==========================================================================
Settings
TOC
- colors
- root sizes
- layout
- breakpoint
- typography 
- spacing
========================================================================== */

// Colors (start with neutral tints)
$c-default: gray;

$c-default-darker: darken($c-default, 50%);
$c-default-dark: darken($c-default, 20%);

$c-default-light: lighten($c-default, 20%);
$c-default-lighter: lighten($c-default, 40%);

$c-default-alt: teal;

$c-default-alt-darker: darken($c-default-alt, 60%);
$c-default-alt-dark: darken($c-default-alt, 20%);

$c-default-alt-light: lighten($c-default-alt, 20%);
$c-default-alt-lighter: lighten($c-default-alt, 40%);


// Colors definition (modify in branding/color))
$c-primary: 						$c-default !default;
$c-primary-darker: 			$c-default-darker !default;
$c-primary-dark: 				$c-default-dark !default;
$c-primary-light: 			$c-default-light !default;
$c-primary-lighter: 		$c-default-lighter !default;

$c-secondary: 					$c-default-alt !default;
$c-secondary-darker: 		$c-default-alt-darker !default;
$c-secondary-dark: 			$c-default-alt-dark !default;
$c-secondary-light: 		$c-default-alt-light !default;
$c-secondary-lighter: 	$c-default-alt-lighter !default;

$c-warning: 						yellow !default;
$c-important: 					red !default;
$c-information: 				blue !default;

$c-white: 							darken(white, 5%) !default;
$c-gray: 								$c-default !default;
$c-black: 							lighten(black, 5%) !default;

// Colors application
$c-base: 								$c-primary !default;
$c-accent: 							$c-secondary !default;

$c-background: 					$c-white !default;
$c-background-light: 		$c-gray !default;
$c-background-accent: 	$c-secondary !default;
$c-background-invert: 	$c-primary !default;

$c-button-primary:			$c-primary !default;
$c-button-primary-text:	$c-white !default;
$c-button-secondary:		$c-primary !default;
$c-button-secondary-text:	$c-primary !default;
$c-button-disabled:			$c-primary-lighter !default;

$c-text: 								$c-primary !default;
$c-text-alt: 						$c-primary-lighter !default;
$c-text-headings: 			$c-primary !default; 
$c-text-headings-alt: 	$c-secondary !default; 
$c-text-headings-cover: $c-white !default; 
$c-text-link: 					$c-secondary !default;
$c-text-link-visited: 	$c-secondary-dark !default;
$c-text-link-hover: 		$c-secondary-dark !default;

$c-border: 							$c-primary !default;
$c-border-invert: 			$c-secondary !default;
$c-border-accent: 			$c-white !default;

// breakpoint
// [Breakpoint](http://breakpoint-sass.com)
$bp--xsmall: 						23.75em; // 380px
$bp--small: 						30em; // 480px
$bp--medium: 						40em; // 640px
$bp--large: 						48em; // 768px
$bp--xlarge: 						64em; // 1024px
$bp--xxlarge: 					78em; // 1248px
$bp--xxxlarge: 					100em; // 1600px

// Root sizes
$rs-max-width: 					$bp--xxxlarge !default;
$rs-base-font-size: 		16px !default;
$rs-max-measure: 				675px !default;

// Modular Scale
// 		Scaling Variables
// $phi: 							1.618034;
// $golden: 					$phi;

// $double-octave: 		4;
// $major-twelfth: 		3;
// $major-eleventh: 	2.666666667;
// $major-tenth: 			2.5;
// $octave: 					2;
// $major-seventh: 		1.875;
// $minor-seventh: 		1.777777778;
// $major-sixth: 			1.666666667;
// $minor-sixth: 			1.6;
// $fifth: 						1.5;
// $augmented-fourth: 1.41421;
// $fourth: 					1.333333333;
// $major-third: 			1.25;
// $minor-third: 			1.2;
// $major-second: 		1.125;
// $minor-second: 		1.066666667;
// $ms-base: 					1em !default;
// $ms-ratio: 						$fourth;

// Responsive scales
//@see https://github.com/modularscale/modularscale-sass#responsive-scales
$ms-ratio: $major-second;
$ms-range:
  $major-second   		$bp--xsmall,
  $fifth							$bp--xxxlarge;



/* ==========================================================================
typography
========================================================================== */
// font families


// fonts in use
$ff-base: 						sans-serif !default; /* Used for all texts except headings */
$ff-heading: 					sans-serif !default; /* Used for headings */
$fu-ui: 							sans-serif !default;
$ff-mono: 						monospace !default;

// font sizes
$fs-xsmall:						ms(-2) !default; /* xsmall  */
$fs-small:						ms(-1) !default; /* p.small */
$fs-base:							ms(0) !default; /* p, h6 */
$fs-medium:						ms(1) !default; /* p.lead, h5 */
$fs-large:						ms(2) !default; /* h4	 */
$fs-xlarge:						ms(3) !default; /* h3 */
$fs-xxlarge:					ms(4) !default; /* h2 */
$fs-xxxlarge:					ms(5) !default; /* h1 */
$fs-biggest:					ms(6) !default; /* page title */

// line heights
$lh-base:							1.5;
$lh-heading:					1.0;
$lh-lead:							1.7; // as seen on uswds

// font weights
$fw-thin:							100; /* thin/hairline */
$fw-extra-light: 			200; /* extra-light/ultra-light */
$fw-light: 						300; /* light */
$fw-regular:					400; /* regular */
$fw-medium: 					500; /* medium */
$fw-semi-bold:				600; /* semi-bold/demi-bold */
$fw-bold: 						700; /* bold* */
$fw-extra-bold: 			800; /* extra-bold/ultra-bold */
$fw-black: 						900; /* black/heavy */

// text decoration
$td-none:							none;
$td-underline:				underline;

// spacing
$sp-base: 						1.5em;
$sp-half:							$sp-base/2; // 0.75em
$sp-third:						$sp-base/3;	// 0.50em
$sp-double:						$sp-base*2; // 3em
$sp-triple:						$sp-base*3;

// border radius
$br-none:							0;

