.cover {
	height: 30vh;
	@extend %bkg-image;
  @include breakpoint($bp--xlarge) {
		position: relative;
		width: 100vw;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		overflow: hidden;
  }

}