<a href="#" aria-label="{{ text }}" class="button-icon side-toggle">
	<i aria-hidden="true" title="{{ text }}" class="icon--{{ iconname }}"></i>
	<!-- Screen readers will see "text" -->
	<span class="button-icon-sronly">{{ text }}</span>
</a>
