{# <div class="sg-pattern-height"> #}
  <div class="side-menu">
    <div class="side-menu--content">
      {# <div class="side-toggle" style="position: relative; z-index: 9999999;">Toggle menu prova</div> #}
      <a href="#" class="button-icon side-toggle" style="position: relative; z-index: 9999999; float: right;">
        <span aria-hidden="true"><i class="icon--close"></i>
        <!-- Screen readers will see "text" -->
        <span class="button-icon-sronly">{{ text }}</span>
      </a>
      <nav role="navigation">
        <ul class="side-menu--links">
          <li class="side-menu--link-item">
            <a href="/" class="side-menu--link">home</a>
          </li>
          <li class="side-menu--link-item">
            <a href="/azienda" class="side-menu--link">azienda</a>
          </li>
          <li class="side-menu--link-item">
            <a href="/storia" class="side-menu--link">storia</a>
          </li>
          <li class="side-menu--link-item">
            <a href="/servizi" class="side-menu--link">servizi</a>
          </li>
          <li class="side-menu--link-item">
            <a href="/team" class="side-menu--link">persone</a>
          </li>
          <li class="side-menu--link-item">
            <a href="/contatti" class="side-menu--link">contatti</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="side-menu--cover"></div>
{# </div>
 #}